table {
	border: 1px solid blue;
	margin: auto;

}

table th {
	background-color: red;
	border: 1px solid blue;
	font-family: Arial;

}

table tr td {
	background-color: white;
	border: 1px solid blue;
	font-family: Arial;
	text-align: center;
}

h1 {
	color: blue;
	font-family: Arial;
	text-align: center;
}

body {
	background-color: gray;
}

img {
	align-content: center;
}

.square{
	border: 1px solid black;
	margin: 10px;
}