table {
	border: 1px solid black;
	margin: auto;
	width: 100%;
}

table th {
	border: 1px solid black;
	font-family: Arial;

}

table tr td {
	border: 1px solid black;
	font-family: Arial;
	text-align: center;
}

h1 {
	font-family: Arial;
	text-align: center;
}